<div
  class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5"
>
  <div
    class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden"
    style="max-width: 350px"
  >
    <h1 class="text-center text-white py-10 text-3xl font-bold">
      Angular calculator
    </h1>
    <div
      class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right"
    >
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">function</div>

      <div class="w-full py-5 px-6 text-6xl text-white font-thin">100</div>
    </div>

    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <div class="flex w-full">
        <div class="w-2/4 vorder-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            C
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            %
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
